<connectionStrings>
  <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-O9HM0TI\SQLEXPRESS1;Initial Catalog=TeduShopAPI;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="BackupConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-O9HM0TI\SQLEXPRESS1;Initial Catalog=BackupAPI;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="POS1Connection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-O9HM0TI\SQLEXPRESS1;Initial Catalog=POS1API;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="POS2Connection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-O9HM0TI\SQLEXPRESS1;Initial Catalog=POS2API;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <!--<add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.159.50,1433;Initial Catalog=TeduShopAPI;Integrated Security=true;User ID=admin;Password=123456"/>
  <add name="BackupConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.159.50,1433;Initial Catalog=BackupAPI;Integrated Security=true;User ID=admin;Password=123456"/>-->
</connectionStrings>